<head>
    <title>2.1 Homework - RGB</title>
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        p {
            color: white;
            text-align: center;
            font-size: 50px;
            width: 500px;
            position: absolute;
            bottom: 50px;
            left: 0;
            right: 0;
            margin: auto;
        }
    </style>
    <script type="importmap">
        {
          "imports": {
            "three": "../../lib/three.module.js"
          }
        }
    </script>
</head>

<body>
    <script src="./script.js" type="module"></script>
    <p>
        <nobr>User Prompt Here</nobr>
    </p>
</body>